{% extends "cloth/layout.html" %}
{% load math_filters %}

{% block home_page %}
<a class="navbar-brand" href="{% url 'model_list_view' %}">HONEST PRODUCTION</a>
{% endblock %}

{% block navbar_links_large %}
{% include "production/nav_links.html" %}
{% endblock %}

{% block navbar_links_small %}
{% include "production/nav_links.html" %}
{% endblock %}

{% block body %}
    <div class="pt-4 section-title d-flex justify-content-between align-items-center">
        <h2>عرض الموديلات</h2>
        <div class="ps-2">
            <a href="{% url 'model_creation_view' %}" class="px-2 btn btn-success">جديد</a>
            <a href="{% url 'model_list_view' %}" class="px-2 btn btn-secondary">ضبط</a>
        </div>
    </div>

    <form method="get" class="filter-form mb-4 p-4 rounded shadow-sm">
        {% for filter_field in filter_fields %}
        <div class="form-group mb-3">
            <label for="filter_{{ forloop.counter }}" class="form-label">{{ filter_field.verbose_name }}</label>
            <input 
                type="{% if filter_field.field_name in 'start_date end_date' %}date{% else %}text{% endif %}" 
                id="filter_{{ forloop.counter }}" 
                name="{{ filter_field.field_name }}" 
                placeholder="بحث ب {{ filter_field.verbose_name }}" 
                class="form-control" 
                value="{{ filter_field.value }}">
        </div>
        {% endfor %}
    
        <button type="submit" class="btn btn-primary w-100">تنفيذ</button>
    </form>
    
</head>
<body class="bg-light">
    <div class="container mt-4">
        {% for model in object_list %}
        <div class="model-card">
            <div class="d-flex justify-content-between align-items-center pb-3">
                <h5 class="mb-0">
                    {{ model.model_number }}
                    <span class="badge {% if model.is_active %}badge-active{% else %}badge-inactive{% endif %}">
                        {% if model.is_active %} نشط {% else %} غير نشط {% endif %}
                    </span>
                </h5>
                <button class="btn btn-sm btn-primary oped_details_btn" onclick="toggleDetails('{{ model.id }}')">
                    عرض التفاصيل <i id="chevron-icon-{{ model.id }}" class="fas fa-chevron-down"></i>
                </button>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                {% comment %} <p><strong>تاريخ الإنشاء:</strong> <span dir="ltr">{{ model.created_at|date:"d/m/Y h:i A" }}</span></p> {% endcomment %}
                <p class="mb-0"><strong>تاريخ الإنشاء:</strong> <span dir="ltr">{{ model.created_at|date:"d/m/Y" }}</span></p>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="btn btn-sm btn-danger" onclick="confirmDelete('{{ model.id }}')">
                        <i class="fas fa-trash"></i>
                    </button>
                    <a class="me-2 btn btn-sm" style="background-color: #0784e4; color: #ffffff" href="{% url 'model_detail_view' model.id %}">
                        <i class="fa-regular fa-eye" ></i>
                    </a>
                </div>
            </div>

            
            <!-- تفاصيل الموديل -->
            <div id="details-{{ model.id }}" class="model-details-toggle mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center pb-3">
                            <h6 class="text-dark mb-0">تفاصيل الموديل</h6>
                            <a href="{% url 'production_list_view' %}?model_number={{model.model_number}}" class="btn btn-sm btn-primary oped_details_btn"> عرض الانتاج </a>
            

                        </div>
            
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>نوع القطعة</th>
                                        <th>المقاس</th>
                                        <th>المنتج</th>
                                        <th>المتبقي</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for part in model.pieces.all %}
                                    <tr>
                                        <td>{{ part.type }}</td>
                                        <td>{{ part.size }}</td>
                                        <td>{{ part.used_amount }}</td>
                                        <td>{{ part.available_amount }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-between">
            <!-- Last Page Button -->
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}" aria-label="Last">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
                {% else %}
                <span class="page-link" aria-disabled="true">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </span>
                {% endif %}
            </li>
            <!-- Next Page Button -->
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}" aria-label="Next">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {% else %}
                <span class="page-link" aria-disabled="true">
                    <span aria-hidden="true">&laquo;</span>
                </span>
                {% endif %}
            </li>

            <!-- Current Page Info -->
            <li class="page-item pagination_page_li">
                <span class="page-link">الصفحة {{ page_obj.number }} من {{ page_obj.paginator.num_pages }}</span>
            </li>
            
            <!-- Previous Page Button -->
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                {% if page_obj.has_previous %}
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}" aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {% else %}
                <span class="page-link" aria-disabled="true">
                    <span aria-hidden="true">&raquo;</span>
                </span>
                {% endif %}
            </li>
            <!-- First Page Button -->            
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                {% if page_obj.has_previous %}
                <a class="page-link" href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}" aria-label="First">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
                {% else %}
                <span class="page-link" aria-disabled="true">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </span>
                {% endif %}
            </li>
    </ul>
</nav>
    
{% endblock body %}

{% block script %}
{% comment %} <script>
    // Select all rows with the class "clickable-row"
    const rows = document.querySelectorAll('.clickable-row');
    
    // Add click event listener to each row
    rows.forEach(row => {
        row.addEventListener('click', () => {
            // Redirect to the URL stored in the data-id attribute
            window.location.href = row.dataset.detail_url;
        });
    });
</script> {% endcomment %}
<script>
    function toggleDetails(modelId) {
        let details = document.getElementById('details-' + modelId);
        let icon = document.getElementById('chevron-icon-' + modelId);
        if (details.style.display === 'none' || details.style.display === '') {
            details.style.display = 'block';
            icon.classList.remove('fa-chevron-down');
            icon.classList.add('fa-chevron-up');
        } else {
            details.style.display = 'none';
            icon.classList.remove('fa-chevron-up');
            icon.classList.add('fa-chevron-down');
        }        
    }
    function confirmDelete(modelId) {
        if (confirm('هل أنت متأكد من حذف هذا الموديل؟')) {
            window.location.href = `/delete/${modelId}`;
        }
    }
</script>
{% endblock script %}
