{% extends "cloth/layout.html" %}
{% load math_filters %}

{% block home_page %}
<a class="navbar-brand" href="{% url 'model_list_view' %}">HONEST PRODUCTION</a>
{% endblock %}

{% block navbar_links_large %}
{% include "production/nav_links.html" %}
{% endblock %}

{% block navbar_links_small %}
{% include "production/nav_links.html" %}
{% endblock %}

{% block body %}

    <div class="pt-4 section-title d-flex justify-content-between align-items-center">
        {% if not is_archive %}
            <h2>عرض الموديلات</h2>
        {% else %}
            <h2>الارشيف</h2>
        {% endif %}
        <div class="ps-2">
            {% if not is_archive %}
            <a href="{% url 'model_creation_view' %}" class="px-2 btn btn-success">جديد</a>
            {% endif %}

            <a href="{% url 'model_list_view' %}" class="px-2 btn btn-secondary">ضبط</a>
        </div>
    </div>

    <form method="get" class="filter-form-flex">
        {% for filter_field in filter_fields %}
          <div class="form-group">
            <label for="filter_{{ forloop.counter }}" class="form-label">
              {{ filter_field.verbose_name }}
            </label>
            <input 
              type="{% if filter_field.field_name in 'start_date end_date' %}date{% elif filter_field.field_name in 'quantity price' %}number{% else %}text{% endif %}" 
              id="filter_{{ forloop.counter }}" 
              name="{{ filter_field.field_name }}" 
              placeholder="بحث ب {{ filter_field.verbose_name }}" 
              class="form-control">
          </div>
        {% endfor %}
        <div class="submit-container">
            <button type="submit" class="btn btn-primary submit-btn">تنفيذ</button>
        </div>

      </form>
          
</head>
<body class="bg-light">
    <div class="container mt-4">
        {% for model in object_list %}

        <div class="model-card">            
            {% if not model.is_shipped %}
                <div class="d-flex justify-content-end align-items-center pb-3 px-2" style="color: var(--danger-color)">
                    <p class="fw-bolder m-0 ms-2 mb-1">
                        لم يتم الشحن بعد 
                    </p>
                    <i class="fa-regular fa-circle fa-l"></i>
                </div>
            {% else %}
                <div class="d-flex justify-content-end align-items-center pb-3 px-2" style="color: var(--success-color)">

                    <p class="fw-bolder m-0 ms-2 mb-1">
                        تم الشحن
                    </p>
                    <i class="fa-solid fa-circle fa-l"></i>
                </div>
            {% endif %}

            {% with usage=model.get_model_usage %}
                <!-- Overall Usage Progress Bar -->
                <div dir="ltr" class="progress mb-2 position-relative" style="border: 1px solid blue; border-radius: 5px; height: 18px;">
                    <div class="progress-bar progress-bar-striped {{ usage.production_percent_style }}" 
                        role="progressbar" 
                        style="width: {{ usage.production_percent }}%" 
                        aria-valuenow="{{ usage.production_used_amount }}" 
                        aria-valuemin="0" 
                        aria-valuemax="{{ usage.production_total_amount }}">
                    </div>
                    <div class="progress-data d-flex justify-content-between align-items-center px-3 position-absolute w-100 h-100" 
                        style="top: -1px; left: 0; color: #000000; font-weight: 500; font-size: 16px">
                        <div>
                            {{ usage.production_used_amount }} / {{ usage.production_total_amount }} (الانتاج)
                        </div>
                        <div>
                            {{ usage.production_percent }}%
                        </div>
                    </div>
                </div>
                
                <!-- Overall Usage Progress Bar -->
                <div dir="ltr" class="progress mb-2 position-relative" style="border: 1px solid blue; border-radius: 5px; height: 18px;">
                    <div class="progress-bar progress-bar-striped {{ usage.packaging_percent_style }}" 
                        role="progressbar" 
                        style="width: {{ usage.packaging_percent }}%" 
                        aria-valuenow="{{ usage.packaging_used_amount }}" 
                        aria-valuemin="0" 
                        aria-valuemax="{{ usage.packaging_total_amount }}">
                    </div>
                    <div class="progress-data d-flex justify-content-between align-items-center px-3 position-absolute w-100 h-100" 
                        style="top: -1px; left: 0; color: #000000; font-weight: 500; font-size: 16px">
                        <div>
                            {{ usage.packaging_used_amount }} / {{ usage.packaging_total_amount }} (التعبئة)
                        </div>
                        <div>
                            {{ usage.packaging_percent }}%
                        </div>
                    </div>
                </div>
            
                
            <div class="d-flex justify-content-between align-items-center pb-3">
                <h5 class="mb-0">
                    {{ model.model_number }}
                    <span class="badge {% if model.is_active %}badge-active{% else %}badge-inactive{% endif %}">
                        {% if model.is_active %} نشط {% else %} غير نشط {% endif %}
                    </span>
                </h5>
            </div>
            <div class="d-flex justify-content-between align-items-center pb-3">
                <button class="btn btn-sm btn-primary oped_details_btn" onclick="togglePackingDetails('{{ model.id }}')">
                    <span id="chevron-packing-text-{{ model.id }}">عرض التعبئة</span> 
                    <i id="chevron-packing-icon-{{ model.id }}" class="fas fa-chevron-down"></i>
                </button>
                <button class="btn btn-sm btn-primary oped_details_btn" onclick="toggleProductionDetails('{{ model.id }}')">
                    <span id="chevron-production-text-{{ model.id }}">عرض الانتاج</span> 
                    <i id="chevron-production-icon-{{ model.id }}" class="fas fa-chevron-down"></i>
                </button>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0"><strong>تاريخ الإنشاء:</strong> <span dir="ltr">{{ model.created_at|date:"Y/m/d" }}</span></p>
                <div class="d-flex justify-content-between align-items-center">
                    {% if model.is_archive == model.is_shipped %}
                    <a class="btn btn-sm btn-primary" href="#" onclick="confirmShipped(event, '{% url 'toggle_shipped' model.id %}')">
                        <i class="fa-solid fa-truck-arrow-right"></i>
                    </a>
                    {% endif %}

                    <a class="me-1 btn btn-sm btn-secondary" href="#" onclick="confirmArchive(event, '{% url 'toggle_archive' model.id %}')">
                        <i class="fa-solid fa-box-archive"></i>
                    </a>

                    {% if is_archive %}
                    <a class="me-1 btn btn-sm btn-danger" href="{% url 'model_delete_view' model.id %}">
                        <i class="fas fa-trash"></i>
                    </a>
                    {% endif %}

                    <a class="me-1 btn btn-sm" style="background-color: #0784e4; color: #ffffff" href="{% url 'model_detail_view' model.id %}">
                        <i class="fa-regular fa-eye" ></i>
                    </a>
                </div>
            </div>
            <div>
                {% if model.ended_at %}
                <p class="mb-0"><strong>تاريخ الانتهاء:</strong> <span dir="ltr">{{ model.ended_at|date:"Y/m/d" }}</span></p>
                {% endif %}
                {% if model.is_shipped %}
                <p class="mb-0"><strong>تاريخ الشحن:</strong> <span dir="ltr">{{ model.shipped_at|date:"Y/m/d" }}</span></p>
                {% endif %}
    
            </div>

            
            <!-- تفاصيل الانتاج -->
            <div id="details-production-{{ model.id }}" class="model-details-toggle mt-3">
                <div class="card">
                    <div class="card-body">
                        <!-- Usage Progress Bars for Each Type -->
                        {% for type in usage.production_type_usage %}
                            <div dir="ltr" class="progress mb-2 position-relative" style="border: 1px solid blue; border-radius: 5px; height: 18px;">
                                <div class="progress-bar progress-bar-striped {{ type.percent_style }}" 
                                    role="progressbar" 
                                    style="width: {{ type.percent }}%" 
                                    aria-valuenow="{{ type.used_amount }}" 
                                    aria-valuemin="0" 
                                    aria-valuemax="{{ type.total_amount }}">
                                </div>
                                <div class="progress-data d-flex justify-content-between align-items-center px-3 position-absolute w-100 h-100" 
                                    style="top: -1px; left: 0; color: #000000; font-weight: 500; font-size: 15px">
                                    <div>
                                        {{ type.used_amount }} / {{ type.total_amount }} ({{ type.type }})
                                    </div>
                                    <div>
                                        {{ type.percent }}%
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    <h5 class="text-dark my-3 text-center">تفاصيل الانتاج</h5>
                        <div class="d-flex justify-content-between align-items-center pb-3">
                            <a href="{% url 'production_list_view' %}?model_number={{model.model_number}}" class="btn btn-sm btn-primary oped_details_btn">عرض سجلات الانتاج</a>

                            <!-- Button to trigger the notes of production -->
                            <button class="btn btn-sm btn-primary oped_details_btn" onclick="openModal('customModal_{{ model.id }}')">ملاحظات <span class="oped_details_count">{{model.comments_count}}<span></button>

                            <!-- Custom Off-canvas for notes of production -->
                            <div id="customModal_{{ model.id }}" class="custom-modal">
                                <div class="custom-modal-content">
                                    <div class="custom-modal-header">
                                        <h5 class="custom-modal-title">ملاحظات الانتاج</h5>
                                        <button type="button" class="custom-modal-close" onclick="closeModal('customModal_{{ model.id }}')">&times;</button>
                                    </div>
                                    <div class="custom-modal-body">
                                        {% for part in model.pieces.all %}
                                        {% for production in part.productions.all %}
                                        {% if production.comment %}
                                        <div class="custom-modal-body">
                                            <strong>{{ production.piece.type }} {{ production.piece.size }}</strong> 
                                            <strong style="float: left;">({{ production.piece.used_amount }})</strong>
                                            <br>
                                            {{ production.comment }}
                                        </div>
                                        
                                        
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </div>

                                    <div class="custom-modal-footer">
                                        <button type="button" class="btn btn-secondary" onclick="closeModal('customModal_{{ model.id }}')">Close</button>
                                        {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>نوع القطعة</th>
                                        <th>المقاس</th>
                                        <th>المصنع</th>
                                        <th>المنتج</th>
                                        <th>المتبقي</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for part in model.pieces.all %}
                                    <tr>
                                        <td>{{ part.type }}</td>
                                        <td>{{ part.size }}</td>
                                        <td>{{ part.productions.first.factory }}</td>
                                        <td>{{ part.used_amount }}</td>
                                        <td>{{ part.available_amount }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- نهاية تفاصيل الانتاج -->

            <!-- تفاصيل التعبئة -->
            <div id="details-packing-{{ model.id }}" class="model-details-toggle mt-3">
                <div class="card">
                    <div class="card-body">

                        <h5 class="text-dark my-3 text-center">تفاصيل التعبئة</h5>
                        <div class="d-flex justify-content-between align-items-center pb-3">
                            <a href="{% url 'packing_list_view' %}?model_number={{model.model_number}}" class="btn btn-sm btn-primary oped_details_btn">عرض سجلات التعبئة</a>
                            {% comment %} <h6 class="text-dark my-3">اجمالي الكراتين : {{ model.get_total_available_carton }}</h6> {% endcomment %}
                        </div>
            
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>الكرتونة</th>
                                        <th>الكمية المستخدمة</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for carton_usage in usage.packaging_carton_usage %}
                                    <tr>
                                        <td>{{ carton_usage.name }}</td>
                                        <td>{{ carton_usage.used_carton }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" class="text-center">لا يوجد عناصر</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- نهاية تفاصيل التعبئة -->
            {% endwith %}

        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-between">
            <!-- Last Page Button -->
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}" aria-label="Last">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
                {% else %}
                <span class="page-link" aria-disabled="true">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </span>
                {% endif %}
            </li>
            <!-- Next Page Button -->
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}" aria-label="Next">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {% else %}
                <span class="page-link" aria-disabled="true">
                    <span aria-hidden="true">&laquo;</span>
                </span>
                {% endif %}
            </li>

            <!-- Current Page Info -->
            <li class="page-item pagination_page_li">
                <span class="page-link">الصفحة {{ page_obj.number }} من {{ page_obj.paginator.num_pages }}</span>
            </li>
            
            <!-- Previous Page Button -->
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                {% if page_obj.has_previous %}
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}" aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {% else %}
                <span class="page-link" aria-disabled="true">
                    <span aria-hidden="true">&raquo;</span>
                </span>
                {% endif %}
            </li>
            <!-- First Page Button -->            
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                {% if page_obj.has_previous %}
                <a class="page-link" href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}" aria-label="First">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
                {% else %}
                <span class="page-link" aria-disabled="true">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </span>
                {% endif %}
            </li>
    </ul>
</nav>
    
{% endblock body %}

{% block script %}
{% comment %} <script>
    // Select all rows with the class "clickable-row"
    const rows = document.querySelectorAll('.clickable-row');
    
    // Add click event listener to each row
    rows.forEach(row => {
        row.addEventListener('click', () => {
            // Redirect to the URL stored in the data-id attribute
            window.location.href = row.dataset.detail_url;
        });
    });
</script> {% endcomment %}
<script>
    function toggleProductionDetails(modelId) {
        let details = document.getElementById('details-production-' + modelId);
        let icon = document.getElementById('chevron-production-icon-' + modelId);
        let text = document.getElementById('chevron-production-text-' + modelId);
        if (details.style.display === 'none' || details.style.display === '') {
            details.style.display = 'block';
            icon.classList.remove('fa-chevron-down');
            icon.classList.add('fa-chevron-up');
            text.innerHTML = "اخفاء الانتاج";
        } else {
            details.style.display = 'none';
            icon.classList.remove('fa-chevron-up');
            icon.classList.add('fa-chevron-down');
            text.innerHTML = "عرض الانتاج";
        }        
    }
    function togglePackingDetails(modelId) {
        let details = document.getElementById('details-packing-' + modelId);
        let icon = document.getElementById('chevron-packing-icon-' + modelId);
        let text = document.getElementById('chevron-packing-text-' + modelId);
        if (details.style.display === 'none' || details.style.display === '') {
            details.style.display = 'block';
            icon.classList.remove('fa-chevron-down');
            icon.classList.add('fa-chevron-up');
            text.innerHTML = "اخفاء التعبئة";
        } else {
            details.style.display = 'none';
            icon.classList.remove('fa-chevron-up');
            icon.classList.add('fa-chevron-down');
            text.innerHTML = "عرض التعبئة";
        }        
    }
    function confirmArchive(event, archiveUrl, isArchive) {
        {% if not is_archive %}
            let message = "هل أنت متأكد أنك تريد أرشفة هذا الموديل؟";
        {% else %}
            let message = "هل أنت متأكد أنك تريد إلغاء أرشفة هذا الموديل؟";
        {% endif %}
        
        if (confirm(message)) {
            window.location.href = archiveUrl;
        }
    }
    function confirmShipped(event, archiveUrl, isArchive) {
        {% if not is_archive %}
            let message = "هل أنت متأكد أنك تريد شحن هذا الموديل؟";
        {% else %}
            let message = "هل أنت متأكد أنك تريد إلغاء شحن هذا الموديل؟";
        {% endif %}
        
        if (confirm(message)) {
            window.location.href = archiveUrl;
        }
    }

    // Function to open the modal
function openModal(modalId) {
    const modal = document.getElementById(modalId);
    if (modal) {
        modal.style.display = 'flex'; // Show the modal
    }
}

// Function to close the modal
function closeModal(modalId) {
    const modal = document.getElementById(modalId);
    if (modal) {
        modal.style.display = 'none'; // Hide the modal
    }
}

// Close the modal if the user clicks outside the modal content
window.addEventListener('click', (event) => {
    const modals = document.querySelectorAll('.custom-modal');
    modals.forEach((modal) => {
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    });
});
</script>
{% endblock script %}
