<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'model_list_view' %}">عرض الموديلات</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'production_form' %}">تسجيل الانتاج</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'production_list_view' %}">عرض الانتاج</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'factory_list_view' %}">المصانع</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'packing_form' %}">تسجيل التعبئة</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'packing_list_view' %}">عرض التعبئة</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'archived_model_list_view' %}">الارشيف</a>
</li>
