{% extends "cloth/layout.html" %}

{% block home_page %}
<a class="navbar-brand" href="{% url 'model_list_view' %}">HONEST PRODUCTION</a>
{% endblock %}

{% block navbar_links_large %}
{% include "production/nav_links.html" %}
{% endblock %}

{% block navbar_links_small %}
{% include "production/nav_links.html" %}
{% endblock %}

{% block body %}
<h2 class="section-title pt-4">اضافة للانتاج</h2>
<div id="order-form-wrapper" class="container py-4">
    <form method="post" id="order-form" class="mb-4 p-4 pt-0">
        {% csrf_token %}
            <div class="container border rounded p-3 mb-3">
                <h3 class="section-title border-bottom-5 mb-2">اختر القطعة والكمية</h3>
                <div class="row mb-2">
                    <div class="col">
                        {{ form.model.label_tag }}
                        {{ form.model }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        {{ form.size_amount.label_tag }}
                        {{ form.size_amount }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        {{ form.piece.label_tag }}
                        {{ form.piece }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        {{ form.used_amount.label_tag }}
                        {{ form.used_amount }}
                    </div>
                </div>
            </div>
        <button type="submit" class="btn btn-primary w-100">حفظ الطلب</button>
    </form>
</div>
{% endblock body %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const modelField = document.getElementById('{{ form.model.auto_id }}');
        const sizeAmountField = document.getElementById('{{ form.size_amount.auto_id }}');
        const pieceField = document.getElementById('{{ form.piece.auto_id }}');
        
        modelField.addEventListener('change', function () {
            fetch(`{% url 'load_sizes' %}?model_id=${this.value}`)
                .then(response => response.json())
                .then(data => {
                    sizeAmountField.innerHTML = '<option value="">اختر المقاس</option>';
                    data.sizes.forEach(size => {
                        sizeAmountField.innerHTML += `<option value="${size.id}">${size.size}</option>`;
                    });
                });
        });

        sizeAmountField.addEventListener('change', function () {
            fetch(`{% url 'load_pieces' %}?size_amount_id=${this.value}`)

                .then(response => response.json())
                .then(data => {
                    pieceField.innerHTML = '<option value="">اختر القطعة</option>';
                    data.pieces.forEach(piece => {
                        pieceField.innerHTML += `<option value="${piece.id}">${piece.type} - متبقي (${piece.available_amount})</option>`;
                    });
                });
        });
    });
</script>
{% endblock script %}
