{% extends "cloth/layout.html" %}
{% load math_filters %}

{% block home_page %}
<a class="navbar-brand" href="{% url 'model_list_view' %}">HONEST PRODUCTION</a>
{% endblock %}

{% block navbar_links_large %}
{% include "production/nav_links.html" %}
{% endblock %}

{% block navbar_links_small %}
{% include "production/nav_links.html" %}
{% endblock %}

{% block body %}

{% for factory in factories %}
<h3>factory: {{ factory }}</h3>
{% endfor %}

{% comment %} ['أم احمد', 'الدور الرابع', 'عثمان صلاح', 'أ_احمد النجار', 'ام احمد', ] {% endcomment %}


{% comment %} {% if report_available %}
    <a href="{{ report_url }}" download class="btn btn-primary">
        تحميل تقرير الإنتاج 📄
    </a>
{% else %}
    <p>التقرير غير متوفر حاليًا.</p>
{% endif %} {% endcomment %}

{% endblock body %}