<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'CartonSuppliesView' %}">CartonSuppliesView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'CartonStockView' %}">CartonStockView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'PackagingCartonView' %}">PackagingCartonView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'ReturnCartonView' %}">ReturnCartonView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'HangerSuppliesView' %}">HangerSuppliesView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'HangerStockView' %}">HangerStockView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'PackagingHangerView' %}">PackagingHangerView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'ReturnHangerView' %}">ReturnHangerView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'SizerSuppliesView' %}">SizerSuppliesView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'SizerStockView' %}">SizerStockView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'PackagingSizerView' %}">PackagingSizerView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'ReturnSizerView' %}">ReturnSizerView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'BagSuppliesView' %}">BagSuppliesView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'BagStockView' %}">BagStockView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'PackagingBagView' %}">PackagingBagView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'ReturnBagView' %}">ReturnBagView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'HangTagSuppliesView' %}">HangTagSuppliesView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'HangTagStockView' %}">HangTagStockView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'PackagingHangTagView' %}">PackagingHangTagView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'ReturnHangTagView' %}">ReturnHangTagView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'HeatSealSuppliesView' %}">HeatSealSuppliesView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'HeatSealStockView' %}">HeatSealStockView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'PackagingHeatSealView' %}">PackagingHeatSealView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'ReturnHeatSealView' %}">ReturnHeatSealView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'TicketSatanSuppliesView' %}">TicketSatanSuppliesView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'TicketSatanStockView' %}">TicketSatanStockView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'PackagingTicketSatanView' %}">PackagingTicketSatanView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'ReturnTicketSatanView' %}">ReturnTicketSatanView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'TicketSuppliesView' %}">TicketSuppliesView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'TicketStockView' %}">TicketStockView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'PackagingTicketView' %}">PackagingTicketView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'ReturnTicketView' %}">ReturnTicketView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'TicketPriceSuppliesView' %}">TicketPriceSuppliesView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'TicketPriceStockView' %}">TicketPriceStockView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'PackagingTicketPriceView' %}">PackagingTicketPriceView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'ReturnTicketPriceView' %}">ReturnTicketPriceView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'KardonSuppliesView' %}">KardonSuppliesView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'KardonStockView' %}">KardonStockView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'PackagingKardonView' %}">PackagingKardonView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'ReturnKardonView' %}">ReturnKardonView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'RubberSuppliesView' %}">RubberSuppliesView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'RubberStockView' %}">RubberStockView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'PackagingRubberView' %}">PackagingRubberView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'ReturnRubberView' %}">ReturnRubberView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'ThreadSuppliesView' %}">ThreadSuppliesView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'ThreadStockView' %}">ThreadStockView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'PackagingThreadView' %}">PackagingThreadView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'GlueSuppliesView' %}">GlueSuppliesView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'GlueStockView' %}">GlueStockView</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'PackagingGlueView' %}">PackagingGlueView</a>
</li>
