<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'CartonStockView' %}">الكرتون</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'HangerStockView' %}">الشماعات</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'SizerStockView' %}">السيزر</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'BagStockView' %}">الاكياس</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'HangTagStockView' %}">هانج تاج</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'HeatSealStockView' %}">هيت سيل</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'TicketSatanStockView' %}">تكت ستان</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'TicketStockView' %}">تكت رئيسي</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'TicketPriceStockView' %}">تكت برايس</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'KardonStockView' %}">كردون</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'RubberStockView' %}">استك</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'ThreadStockView' %}">خيط</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'GlueStockView' %}">لزق</a>
</li>
