{% extends "cloth/layout.html" %}
{% block body %}
    <h2 class="section-title pt-4">سجل رصيد القماش</h2>
    <form method="get" class="filter-form mb-4 p-4 rounded shadow-sm">
        {% for filter_field in filter_fields %}
        <div class="form-group mb-3">
            <label for="filter_{{ forloop.counter }}" class="form-label">{{ filter_field.verbose_name }}</label>
            <input type="text" id="filter_{{ forloop.counter }}" name="{{ filter_field.field_name }}" 
                   placeholder="فلتر ب {{ filter_field.verbose_name }}" 
                   class="form-control" 
                   value="{{ filter_field.value }}">
        </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary w-100">تنفيذ</button>
    </form>
             
    <!-- Responsive Table -->
    <div class="table-responsive mb-4">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>التاريخ</th>
                    <th>كود الخامة</th>
                    <th>اسم الخامة</th>
                    <th>اللون</th>
                    <th>عدد الاتواب</th>
                    <th>الوزن</th>
                    <th>اسم المصبغة</th>
                </tr>
            </thead>
            <tbody>
                {% for model in models %}
                <tr>
                    <td>{{ model.date }}</td>
                    <td>{{ model.fabric_code }}</td>
                    <td>{{ model.fabric_name }}</td>
                    <td>{{ model.color }}</td>
                    <td>{{ model.roll }}</td>
                    <td>{{ model.weight }}</td>
                    <td>{{ model.dyehouse_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}
