<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'fabric_view' %}">رصيد القماش</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'cut_transfer_view' %}">تحويلات القص</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'return_transfer_view' %}">مرتجعات القص</a>
</li>
<li class="p-2 nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'statistics_view' %}">الاحصائيات</a>
</li>
